*{
    font-family: 'Libre Baskerville', serif;
}
.bg-Grain{
    background-image: url(./images/filmGrain.jpg);
    background-repeat: repeat;
    
    
}
.bgColor1{
    background-color: rgb(27, 31, 34)!important;
}
.bgColor2{
    background-color: rgb(107, 28, 14)!important;
}
.bgColor3{
    background-color: rgb(44, 51, 51)!important;
}
.textColor1{
    color: rgb(107, 28, 14)!important;;
}
.bgImage1{
    background-image: url(./images/band.jpeg);
    background-size: cover;
    background-position: 50% 20%;
    height: 90vh;
}
.bgSingle1{
    background-image: url(./images/single1.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    
   
    
    
}
.bgSingle2{
    background-image: url(./images/single2.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    
    
    
    
}
.bgSingle3{
    background-image: url(./images/single3.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    
    
}

.cards:hover{
    width: 34vw;
    height: 46vh;
    transition: .5s ease;
    
}
.fontSizeBig{
    font-size: 6rem;
}
.fontSizeMain{
    font-size: 5rem;
}
.subtitle{
    font-size: 1.5rem;
}
.intro{
    color: rgb(27, 31, 34);
    font-size: 2rem;
}
.introName{
    transition: .4s;
    color: rgb(107, 28, 14)!important;
}
.introName:hover{
    transition: .4s;
    background-color: rgb(27, 31, 34)!important;
    color: rgb(100, 28, 15)!important;
    
    
    

}

.mainMinHeight{
    min-height: 170vh;
}
.cards{
    width: 30vw;
    height: 42vh;
    transition: .5s ease;
}
#navbar {
    overflow: hidden;
    padding: 6px 6px;
    transition: 0.4s;
    position: fixed;
    border-radius: 0px;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: rgb(107, 28, 14)!important;
    color: rgb(27, 31, 34)!important;
}
#navbar:hover{
    background-color: rgb(27, 31, 34)!important;
    color: rgb(151, 31, 9)!important;
}

svg{
    width: 30px;
    height: 30px;
}
.list-group{
    border-radius: 0px!important;
    
}
.list-group-item
{
    background-color: rgb(27, 31, 34)!important;
    color: antiquewhite!important;
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-bottom: 5px solid!important;
    border-color: antiquewhite!important;
    font-weight: bold!important;
    
}
.boxes{
    min-height: 70vh;
}

.audioDiv{

    margin-left: 4.5rem;

}
.songTitle
{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0px!important;
}
@media screen and (max-width : 1000px)
{
    .introName{
        font-size: 5rem;
    }
    .socialMedia a{
        padding-left: 15px;
    }
    .cards{
        width: 30vw;
        height: 25vh;
    }
    .cards:hover{
        width: 34vw;
        height: 26vh;
        transition: .5s ease;
        
    }
    .boxes{
        min-height: 52vh;
    }

}
@media screen and (max-width : 768px)  {

    .introName{
        font-size: 3.5rem;
    }
    .intro{
        font-size: 1.5rem;
    }
    .socialMedia a{
        padding-left: 15px;
    }
    .cards{
        width: 30vw;
        height: 25vh;
    }
    .cards:hover{
        width: 34vw;
        height: 26vh;
        transition: .5s ease;
        
    }
    .mainMinHeight
    {
        min-height: 140vh;
    }
    .boxes{
        min-height: 52vh;
        width: 90vw!important;
    }
    .fontSizeMain{
        font-size: 3rem;
    }
    .music-container{
        display: none!important;
    }

}
@media screen and (max-width : 636px)
{
    .bgImage1{
        background-image: url(./images/band3.jpeg);
        background-size: cover;
        background-position: 70% 0%;
        height: 70vh;
    }

}
@media screen and (max-width : 503px)
{
    .introName{
        font-size: 3rem;
    }
    .cards{
        width: 30vw;
        height: 25vh;
    }
    .cards:hover{
        width: 34vw;
        height: 26vh;
        transition: .5s ease;
        
    }
    .cardsResponsive{
        display: flex;
        flex-direction: column!important;
        align-items: center;
    }
    .cards{
        width: 70vw;
        height: 40vh;
    }
    .cards:hover{
        width: 73vw;
        height: 43vh;
        transition: .5s ease;
        
    }
    .boxes{
        width: 90vw!important;
    }
    .fontSizeMain{
        font-size: 3rem;
    }
    .mainMinHeight
    {
        min-height: 240vh;
    }

}
@media screen and (max-width : 438px)
{
    .introName{
        font-size: 2.8rem;
    }
}
@media screen and (max-width : 425px) {

    .introName{
        font-size: 2.6rem;
    }
    .welcome{
        padding-top: 15rem;
    }
    .intro{
        color: antiquewhite!important;
        font-size: 1rem!important;
    }
    .bgImage1{
        background-image: url(./images/band3.jpeg);
        background-size: cover;
        background-position: 70% 0%;
        height: 70vh;
    }
    .fontSizeMain{
        font-size: 4rem;
    }
    .cardsResponsive{
        display: flex;
        flex-direction: column!important;
        align-items: center;
    }
    .cards{
        width: 70vw;
        height: 40vh;
    }
    .cards:hover{
        width: 73vw;
        height: 43vh;
        transition: .5s ease;
        
    }
    .boxes{
        width: 90vw!important;
    }
    .mainMinHeight
    {
        min-height: 230vh;
    }
    ul{
        font-size: 0.55rem;
    }
    .subtitle{
        font-size: 1.2rem!important;
    }
}
@media screen and (max-width : 384px) {
    .introName{
        font-size: 2.5rem;
    }
    .fontSizeMain{
        font-size: 3rem;
    }
    .cards{
        width: 63vw;
        height: 30vh;
        justify-content: center;
    }
    .cards:hover{
        width: 65vw;
        height: 33vh;
        transition: .5s ease;
        
    }
    .mainMinHeight
    {
        min-height: 190vh;
    }

}


@media screen and (max-width : 375px)
{
    .introName{
        font-size: 2.5rem;
    }
    .fontSizeMain{
        font-size: 3rem;
    }
    .cards{
        width: 65vw;
        height: 30vh;
        justify-content: center;
    }
    .cards:hover{
        width: 68vw;
        height: 33vh;
        transition: .5s ease;
        
    }
    .mainMinHeight
    {
        min-height: 190vh;
    }
    

}
@media screen and (max-width : 368px) {

    .introName{
        font-size: 2.2rem;
    }
}
@media screen and (max-width : 328px)
{
    .introName{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 1rem!important;
    }
    .navResponsive{
        display: flex;
        flex-direction: column;
        align-items: center!important;
        
    }
    .socialMedia a{
        padding-right: 5px;
    }
    .navResponsive a{
        padding-bottom: 10px;
    }
}
@media screen and (max-width : 320px){
    .navResponsive{
        display: flex;
        flex-direction: column;
        align-items: center!important;
        
    }
    .socialMedia a{
        padding-right: 5px;
    }
    .navResponsive a{
        padding-bottom: 10px;
    }
    .introName{
        font-size: 1.8rem;
    }
    .subtitle{
        font-size: 1rem!important;
    }
    .cards{
        width: 65vw;
        height: 25vh;
        justify-content: center;
    }
    .cards:hover{
        width: 68vw;
        height: 29vh;
        transition: .5s ease;
        
    }
    
}
.music-container {
    background-color: transparent;
    display: flex;
    
    position: relative;
    
    z-index: 10;
  }
  
  
  
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: transparent;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  